/* base styles */
:root {
        --iris: #4d5ae5;
        --ocean: #404bbf;
        --navy: #2e2f42;
        --subtle: #31d0aa;
        --slate: #434455;
        --light-slate: #8e8f99;
        --cornflower: #e7e9fc;
        --cloud: #f4f4fd;
        --hero: rgba(46, 47, 66, 0.4);
        --modal: rgba(46, 47, 66, 0.7);
        --accent: #fff;
        --dairy: #fcfcfc;
        --font-family: "Roboto", sans-serif;
        --second-family: "Raleway", sans-serif;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.header, a, ul, .footer {
    text-decoration: none;
}
/* heder styles */
.header {
    border-bottom: 1px solid var(--cornflower);
    width: 1440px;
    height: 72px;
    background: var(--accent);
}
.header .studio span {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;

}
.header .studio {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
}
.header .studio:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--ocean);
}
.header .studio:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--ocean);
}
/* .header .portfolio {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
} */
/* .header .portfolio:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--ocean);
}
.header .portfolio:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--ocean);
} */
.header .portfolio .stu {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy);
}
.header .portfolio .stu:hover {
    color: var(--ocean);
}
.header .portfolio .stu:focus {
    color: var(--ocean);
}
/* .header .portfolio .por:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--ocean);
}
.header .portfolio .por:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--ocean);
} 
 .header .portfolio .con:hover {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: var(--ocean);
 }
 .header .portfolio .con:focus {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: var(--ocean);
 } */
.header .address .contacts .nom {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
    color: var(--slate);
}
address {
    font-style: normal;
}
/* .header .address .contacts .info {
    color: #434455;
}
.header .address .contacts .info:hover {
    color: #404bbf;
}
.header .address .contacts .info:focus {
    color: #404bbf;
} */
/* .header .address .contacts .nom {
    color: #434455; */
.header .address .contacts .nom:hover {
    color: var(--ocean);
}
.header .address .contacts .nom:focus {
    color: var(--ocean);
}
    /* main solutions */
.main .solutions {
    width: 1440px;
    height: 600px;
    background: var(--navy);
}
.main .solutions .effective {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--accent);
}
.main .solutions .order {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
}
.main .solutions .order:hover {
    background: var(--ocean);
}
.main .solutions .order:focus {
    background: var(--ocean);
}
/* main strategy */
.main .strategy .key {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy);
}
.main .strategy .message {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
/* main our */
.our .team {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy);
}
.our .designer .people {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy);
}
.our .designer .prof {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}
/* main  portfolio*/
.portfolio .folio {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
}
.portfolio .app h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy);
}
.portfolio .app p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
/* footer */
.footer {
    width: 1440px;
    height: 312px;
    background: var(--navy);
}
.footer .foot {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer .foot span {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer a:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--ocean);
}

.footer a:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--ocean);
}
.footer p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}

